.dashboard {
  height: 100vh;
}

.footer {
  position: fixed;
  width: 82%;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.204);
  backdrop-filter: blur(0.3rem);
  padding: 0.5rem;
  border-radius: 15px;
  z-index: 5;
  font-size: 0.8rem;
}

/* Theme Settings */
body.light .footer {
  background-color: rgba(255, 255, 255, 0.197);
}

@media only screen and (max-width: 766px) {
  .footer {
    width: 100%;
  }
}

@media only screen and (min-width: 994px) {
  .col-md-9 {
    padding-left: 3rem !important;
  }
}
@media only screen and (min-width: 1270px) {
  .col-md-9 {
    padding-left: 0 !important;
  }
}
@media only screen and (min-width: 1000px) {
  .col-md-9 {
    padding-right: 2.5rem !important;
  }
}
